v1/Boxy/ScreenShot/*
v1/YoutubeDL/*
!v1/YoutubeDL/youtube-dl.exe
!v1/YoutubeDL/YTDL_HelperGui.ahk
!v1/YoutubeDL/youtube-dl.exe
v1/Boxy/DropFiles.txt
.vscode/*
*.ini
v1/ScriptFag/Res
v1/ScriptFag/Lib
v1/Boxy/Res
v1/Boxy/Lib
v1/ScriptFag/ScriptFagExport.txt
*Include.ahk
v1/FantasyCounter/Profiles/
v1/ScriptFag/Profiles/
v1/FantasyCounter/Profiles/*
v1/ScriptFag/Profiles/*
v1/FantasyCounter/CardData.json
v1/FantasyCounter/PlayerData.txt
v1/FantasyCounter/PlayerData2019.txt
v1/FantasyCounter/PlayerData2020.txt
v1/FantasyCounter/PlayerData2021.txt
v1/FantasyCounter/PlayerData2022.txt
v1/FantasyCounter/PlayerData2023.txt
v1/FantasyCounter/PlayerData2024.txt
v1/FantasyCounter/PlayerData2025.txt
v1/FantasyCounter/PlayerData2026.txt
v1/FantasyCounter/PlayerData2027.txt
v1/FantasyCounter/PlayerData2028.txt
v1/FantasyCounter/PlayerData2029.txt
v1/FantasyCounter/PlayerData2030.txt
v1/FantasyCounter/PlayerDataCustom.txt
