v1/Boxy/ScreenShot/*
v1/YoutubeDL/*
!v1/YoutubeDL/youtube-dl.exe
!v1/YoutubeDL/YTDL_HelperGui.ahk
!v1/YoutubeDL/youtube-dl.exe
v1/Boxy/DropFiles.txt
.vscode/*
*.ini
v1/ScriptFag/Res
v1/ScriptFag/Lib
v1/Boxy/Res
v1/Boxy/Lib
v1/ScriptFag/ScriptFagExport.txt
*Include.ahk
v1/FantasyCounter/Profiles/
v1/ScriptFag/Profiles/
v1/FantasyCounter/Profiles/*
v1/ScriptFag/Profiles/*
v1/FantasyCounter/PlayerData.txt
v1/FantasyCounter/CardData.txt
