Boxy/ScreenShot/*
YoutubeDL/*
!YoutubeDL/youtube-dl.exe
!YoutubeDL/YTDL_HelperGui.ahk
!YoutubeDL/youtube-dl.exe
Test/*
Boxy/DropFiles.txt

.vscode/*
*.ini
ScriptFag/Res
ScriptFag/Lib
Boxy/Res
Boxy/Lib